table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
}

.okno{
  z-index: 1;
  position: absolute; 
  width: 65%; 
  background-color: rgba(204, 204, 204, 0.95);
  padding: 30px;  
  border: 2px solid blue;   
  min-width: 325px;

}

.closebtn {
  cursor:pointer;
}