.okno_roles {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px; 
  width: 20%; 
  background-color: rgba(204, 204, 204, 0.95);
  padding: 15px;  
  border: 2px solid blue;   
  min-width: 325px;
}

#table_roleStaff, .table_users, 
#okno_add_user, #okno_delete_user {
  position: absolute; 
  top: 130px;
  left: 180px;
  width: 20%; 
  border: 2px solid blue; 
  background-color: rgba(204, 204, 204, 0.95); 
  min-width: 325px; 
}

.okno_profil {
  position: absolute; 
  top: 130px;
  left: 180px;
  width: 20%; 
  background-color: rgba(204, 204, 204, 0.95);
  padding: 30px;  
  border: 2px solid blue;   
  min-width: 325px;
}

.okno_users {
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 20%; 
  background-color: rgba(204, 204, 204, 0.95);
  padding: 30px;  
  border: 2px solid blue;   
  min-width: 325px;
}

.okno_news {
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 20%; 
  background-color: rgba(204, 204, 204, 0.95);
  padding: 30px;  
  border: 2px solid blue;   
  min-width: 370px;
}




/*  FUNKCNE */
.closebtn_profil, .closebtn_news, 
.closebtn_roles, .closebtn_profil_edit,
.closebtn_users {
  cursor:pointer;
  padding: 3px;
  font-size: 1.2em;
}

.divko{
	padding-right: 5px;
	float: left;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    min-width: 130px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}



#bocne_menu {
  width: 170px;
  float: left;
  min-height: 250px;
}
