#myTable tr > *:nth-child(1) {
    display: none;
}

table {
    margin: 10px;
    border: 1px solid lightgray;
}

.okno {

    z-index: 1;
    position: absolute;
    width: 55%;
    background-color: Gray;
    padding: 30px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 325px;

}

#tabPublikacie {
    color: white;
}

.closebtn {
    cursor: pointer;
    font-size: 40px;
}
