
table {
    border-collapse: collapse;
}

table {
    margin: 10px;
    border: 1px solid lightgray;
}

.okno {

    z-index: 1;
    position: absolute;
    width: 65%;
    background-color: Gray;
    padding: 30px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 325px;

}

.closebtn {
    cursor: pointer;
    font-size: 40px;
}
