.okno{
  display: none;
  z-index: 1;
  position: absolute; 
  width: 20%; 
  background-color: rgba(0, 0, 0, 0.95);
  padding: 30px;
  color: white;   
  border: 2px solid blue;   
  min-width: 325px;
}

.infookno {
  z-index: 1;
  position: absolute; 
  width: 20%; 
  background-color: rgba(0, 0, 0, 0.95);
  padding: 30px;
  color: white;   
  border: 2px solid blue;   
  min-width: 325px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
 
    width: 30%;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.warning {
  background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}